@mixin middleScreen {
  @media (min-width: 1400px) {
    @content;
  }
}
@mixin smallScreen {
  @media (min-width: 1281px) {
    @content;
  }
}
@mixin desktops {
  @media (min-width: 997px) {
    @content;
  }
}
@mixin pad {
  @media (min-width: 769px) {
    @content;
  }
}
@mixin phone {
  @media (min-width: 577px) {
    @content;
  }
}
@mixin min {
  @media (min-width: 351px) {
    @content;
  }
}

@mixin fadeAndMoveUpAnimation($delay: 0s, $time: 1s) {
  animation: fadeAndMoveUp $time ease-in-out forwards;
  animation-delay: $delay;
}

@mixin fadeAndMoveRightAnimation($delay: 0s, $time: 1s) {
  animation: fadeAndMoveRight $time ease-in-out forwards;
  animation-delay: $delay;
}

@mixin fadeAndMoveLeftAnimation($delay: 0s, $time: 1s) {
  animation: fadeAndMoveLeft $time ease-in-out forwards;
  animation-delay: $delay;
}

@keyframes fadeAndMoveUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeAndMoveRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeAndMoveLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: "Noto Serif TC";
  src: url("@/assets/font/NotoSerifTC-Regular.otf") format("opentype"),
    url("@/assets/font/NotoSerifTC-Light.otf") format("opentype"),
    url("@/assets/font/NotoSerifTC-ExtraLight.otf") format("opentype"),
    url("@/assets/font/NotoSerifTC-Medium.otf") format("opentype");
}
